*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/vendor

/composer.lock
public/wp-content/themes/detox/node_modules
public/wp-content/themes/detox/package-lock.json
public/wp-content/themes/detox/.nvmrc
