:root {
	--container-width: 1180px;
	--container-padding: 10px;

	--font-family: 'InterTight', sans-serif;
	--text-size: 16px;

	--accent: #42606A;
	--bg-color: #F4F7F8;
	--accent-light: #7B9098;
	--accent-light-second: #DEE8EC;
	--white: #fff;
	--gradient: linear-gradient(0deg, #42606a 0%, #609aad 100%);
	--accent-second: #5F98AA;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}
