.cta {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
    &::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(360deg, #cacbcf 0%, #f4f7f8 100%);
  }
  &__inner {
    position: relative;
    border: 1px solid rgba(66, 96, 106, 0.04);
    border-radius: 10px;
    background: linear-gradient(360deg, #42606a 0%, #609aad 100%);
    overflow: hidden;
    padding: 60px 20px 50px;
    z-index: 3;

    @include tablet {
      padding: 60px 30px;
    }

    @include mobile {
      padding: 50px 16px;
    }

    @include min {
        background: linear-gradient(360deg, #42606a 0%, #609aad 65%);
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      background-image: url("./../../img/cta-bg-big.svg");
      max-width: 1005px;
      width: 100%;
      height: 461px;
      bottom: 0;

      @include tablet {
          top: 100px;
      }
    }

    &::before {
      background-image: url("./../../img/cta-bg-small.svg");
      max-width: 754px;
      width: 80%;
      height: 347px;

      @include tablet {
          width: 100%;
          top: -20px;
      }

      @include min {
          top: 20px;
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 35px;
    gap: 20px;

    @include mobile {
        margin-bottom: 30px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 92%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--white);
    max-width: 621px;

    span {
      color: rgba(255, 255, 255, 0.73);
    }

    @include mobile {
        font-size: 30px;
    }
  }

  &__description {
    max-width: 570px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: rgba(255, 255, 255, 0.67);

    @include mobile {
        font-size: 12px;
    }
  }
}

.form {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 775px;

  @include mobile {
      grid-template-columns: 1fr;
      align-items: stretch;
      justify-content: center;
  }

  input {
    min-width: 234px;
    border-radius: 44px;
    background-color: var(--white);
    padding: 10px 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    color: #2d434d;

    @include tablet {
      min-width: 180px;
      max-width: 230px;
      flex: 0 1 auto;
      padding: 10px 18px;
    }

    @include tablet {
        max-width: 420px;
        margin: 0 auto;
        width: 100%;
    }

    &::placeholder {
      color: rgba(141, 141, 141, 0.64);
    }
  }

  .iti {
    @include tablet {
        max-width: 420px;
        margin: 0 auto;
        width: 100%;
    }
  }

  .iti__tel-input {
    min-width: 234px;
    width: 100%;
    @include tablet {
        max-width: 420px !important; 
        width: 100% !important;
        margin: 0 auto !important;
    }

    input {
      @include tablet {
          margin: 0 auto;
      }
    }
  }
  &__btn {
    min-width: 255px;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: var(--accent);
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    max-width: 255px;
    transition: all .3s ease-in-out;

    @include tablet {
      min-width: 180px;
      max-width: 420px;
      flex: 0 1 auto;
      margin: 0 auto;
      width: 100%;
    }

    &:hover {
      background-color: var(--white);
      color: var(--accent);
    }
    &:active {
      background-color: var(--accent);
      color: var(--white);
    }
  }

  &__label-box {
    margin: 0 auto;
    grid-column: span 3;

    @include mobile {
        grid-column: auto;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
    margin-top: 15px;
    max-width: 392px;
    max-width: 449px;

    @include tablet {
      grid-column: auto;
        
    }
    
    @include mobile {
        justify-self: start;
        text-align: left;
        grid-row: 3/4;
        max-width: 100%;
        margin-top: 5px;
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__checkmark {
    min-width: 14px;
    height: 14px;
    border: 1.5px solid #ffffff34;
    border-radius: 4px;
    position: relative;
    transition: all 0.3s ease;
    background-color: var(--white);

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 1px;
      width: 5px;
      height: 8px;
      border: solid var(--accent);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(0);
      transition: transform 0.2s ease;

      @include min {
          left: 3px;
      }
    }
  }

  &__caption {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(9px, 1vw, 12px);
    color: #0e1214;
    opacity: 0.8;
    a {
      text-decoration: underline;
    }
  }
}
/* checked состояние */
.form__checkbox:checked + .form__checkmark {
  background-color: var(--white);
  border-color: var(--white);
}

.form__checkbox:checked + .form__checkmark::after {
  transform: rotate(45deg) scale(1);
}

/* hover эффект */
.form__label:hover .form__checkmark {
  border-color: var(--white);
}
